<h1 class="text-center mb-4">Modifier le commentaire</h1>
<%= form_for([@post, @comment]) do |f| %>
  <%= f.trix_editor :content %>
  <p class="text-center"><%= f.submit "Valider", class: 'btn btn-primary btn-lg submit-button mt-4' %></p>
<% end %>