/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require trix
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


@import url('https://fonts.googleapis.com/css?family=Adamina|Open+Sans');

h1, h2, h3, a.btn, button {
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3 {
  margin: 1rem 0;
}

* {
  font-family: 'Adamina', serif;
}

.top-bar {
  a {
    padding: 0 0.5rem;
  }
}

body.page {
  width: 100%;
  padding: 0 5%;
}

abbr {
  display: none;
}

.blog-header {
  background-color: white;
}

footer {
  height: 3rem;
}

.filtre {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    margin-bottom: 0;
  }
  a:first-child button {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  a:last-child button {
     border-bottom-left-radius: 0 !important;
     border-top-left-radius: 0 !important;
   }
}

nav ol{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}